/* title container styling */
.intro-container {
    padding: 40px 20px;
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}


p {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

nav .navbar-brand {
    font-size: xx-large;
    font-family: "Space Mono";
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Card styling */
.card {
    border: 1px solid #ddd; /* Light border for card */
    border-radius: 8px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
}

/* Card body style */
.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 8px;
}

.card-text small {
    font-size: 0.85rem;
    color: #6c757d; /* Muted text color */
}

.card-body p {
    margin-bottom: 10px;
}

/* Hover effect - Adds shadow when hovering over the card */
.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Light drop shadow on hover */
}

hr {
    margin: 40px 0; /* Adds margin around the <hr> for clearer section separation */
    border: 0; /* Removes default border */
    border-top: 1px solid #ccc; /* Optional: custom border style */
}

.container {
    padding: 20px;
}


body {
    font-family: "Space Mono";
    overflow: visible;
}

header {
    overflow: visible;  /* Ensure header doesn't clip its content */
}


/* Fonts */

.syne {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}
.heart-icon {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.heart-icon.filled {
    color: red;
}
