{% extends "layout.html" %}

{% block main %}
<div>
    <h1 class="syne">your<br>reviews</h1>
    <br>

    {% if reviews %}
        <table class="table table-striped mt-4">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Song</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Review</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ review.song_title }}</td>
                    <td>{{ review.song_artist }}</td>
                    <td>{{ review.review }}</td>
                    <td>{{ review.rating }} / 5</td>
                    <td>{{ review.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted">You haven't written any reviews yet.</p>
    {% endif %}
</div>
{% endblock %}
