{% extends "layout.html" %}

{% block main %}
<div class="container">
    <h1 class="syne">your<br>liked songs</h1>
    <br>

    {% if songs %}
    <!-- if there are liked songs, create a table with song information -->
        <table class="table table-striped mt-4">
            <thead class="table-light">
                <tr>
                    <th scope="col">Song</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Listen Now</th>

                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>

                    <td>
                        <!-- Spotify embed for song -->

                        <iframe
                            src="https://open.spotify.com/embed/track/{{ song.spotify_id }}"
                            width="100%"
                            height="80"
                            frameborder="0"
                            allowtransparency="true"
                            allow="encrypted-media">
                        </iframe>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <!-- if no liked songs, display message-->
        <p class="text-muted">You haven't liked any songs yet.</p>
    {% endif %}
</div>
{% endblock %}
