{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="profile-container">
        <h1 class="syne">{{ name }}'s<br>music box</h1>
        <br>

            <!-- Liked Songs -->
            <h1>Your Liked Songs</h1>
            {% if songs %}
                <ul>
                    {% for song in songs %}
                        <li>{{ song.name }} by {{ song.artist }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You haven't liked any songs yet.</p>
            {% endif %}
<a href="{{ url_for('all_liked') }}">View All Liked Songs</a>



        <!-- User Reviews -->
        <h1>Your Reviews</h1>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                <li>
                    (Rating: {{ review.rating }}) {{ review.timestamp }}
                    <p>{{ review.review }}</p>
                    <p><strong>Song:</strong> {{ review.song_title }} by {{ review.song_artist }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
<a href="{{ url_for('all_reviews') }}">View All Reviews</a>


    </div>

    <br>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
{% endblock %}
