{% extends "layout.html" %}

{% block title %}
    Recent Reviews
{% endblock %}

{% block main %}
    <div class="recent-container">
        <h1 class="syne">recent<br>reviews</h1>
        <br>

        <!-- User Reviews -->
        {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    {{ review.username }}: (Rating: {{ review.rating }}) {{ review.timestamp }}
                    <p>{{ review.review }}</p>
                    <p><strong>Song:</strong> {{ review.song_title }} by {{ review.song_artist }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No reviews yet.</p>
        {% endif %}
    </div>
{% endblock %}
