{% extends "layout.html" %}

{% block title %}
    Recent Reviews
{% endblock %}

{% block main %}
    <div class="recent-container">
        <h1 class="syne">recent<br>reviews</h1>
        <br>

        <!-- User Reviews -->
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong>{{ review['song_title'] }}</strong> - {{ review['rating'] }}/5
                        <p>{{ review['review'] }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
    </div>
    {% endblock %}
