{% extends "layout.html" %}

{% block title %}
    Song Search
{% endblock %}

{% block main %}
    <div class="search-container">
        <h1 class="syne">find<br>a song:</h1>
    </div>
    <form action="/search" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="song_name" placeholder="Song Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="artist" placeholder="Artist" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <br>
    {% if songs %}
        <ul>
        {% for song in songs %}
            <li>
                <a href="/song/{{ song['id'] }}">{{ song['title'] }} by {{ song['artist-credit'][0]['artist']['name'] }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <br>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock %}
