{% extends "layout.html" %}

{% block title %}
    Song Search
{% endblock %}

{% block main %}
    <div class="search-container">
        <h1 class="syne">find<br>a song:</h1>
    </div>
    <form action="/search" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="song_name" placeholder="Song Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="artist" placeholder="Artist" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <br>
    <ul>
        {% if songs %}
          {% for song in songs %}
            <li>
              <strong>{{ song.name }}</strong> by {{ song.artists[0].name }}
              <br>
              <a href="{{ song.external_urls.spotify }}" target="_blank">Listen on Spotify</a>
            </li>
          {% endfor %}
        {% else %}
          <li>No songs found matching your search.</li>
        {% endif %}
      </ul>

    <br>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock %}
