{% extends "layout.html" %}

{% block title %}
    Song Search
{% endblock %}

{% block main %}
    <div class="search-container">
        <h1 class="syne">{{ song['title'] }}</h1>
    </div>
    <h2>Artist: {{ artist_name }}</h2>
    <br>
    <h2>Average Rating: {{ average_rating or 'No ratings yet' }}</h2>
    <br>

    <form action="/like" method="post">
        <input type="hidden" name="song_id" value="{{ song.id }}">
        <button type="submit">Like</button>
    </form>


    <h2>Reviews</h2>
        <ul>
        {% for review in reviews %}
            <li>{{ review['username'] }}: {{ review['review'] }} (Rating: {{ review['rating'] }})</li>
        {% endfor %}
        </ul>
    <br>

    <h2>Submit a Review</h2>
    <form action="/song/{{ song['id'] }}/review" method="post">
        <div class="mb-3">
            <textarea autocomplete="off" class="form-control mx-auto w-auto" name="review" placeholder="Your review" rows=""4></textarea>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="1" max="5" name="rating" placeholder="-" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <br>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock %}
